@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

:root {
  --ff: "Inter", sans-serif;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;
  --accent-color: hsl(75, 94%, 57%);
  --gray-900: hsl(0, 0%, 8%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-700: hsl(0, 0%, 20%);
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  font-weight: var(--fw-m);
  background-color: var(--gray-900);
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  background-color: var(--gray-800);
  width: min(24rem, 88%);
  margin: 1.375rem;
  padding: 2.5rem;
  border-radius: 0.625rem;
}

.profile__picture {
  max-width: 5.375rem;
  margin: 0 auto;
  border-radius: 50%;
}

.profile__fullname {
  font-size: 1.5625rem;
  margin: 1.5rem 0 0.25rem;
}

.profile__location {
  color: hsl(75, 94%, 57%);
}

.profile__bio {
  font-weight: var(--fw-n);
  margin: 1.5rem 0 1.375rem;
}

.btn {
  background-color: var(--gray-700);
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}

.btn+.btn {
  margin-top: 1rem;
}

.btn:is(:focus, :hover) {
  background-color: var(--accent-color);
  color: var(--gray-800);
  font-weight: var(--fw-b);
  cursor: pointer;
}

@media screen and (max-width: 26.25rem) {
  .profile {
    padding: 1.5rem;
  }
}
